@font-face {
    font-family: Montserrat;
    src: url(/fonts/Montserrat/Montserrat-VariableFont_wght.ttf)
}

:root {
    --background-color: #121212;
    --surface-color: #353535;
    --border-radius: 0.5em;
    --border-width: 0.1em;
    --text-color: white;
    --font-family: Montserrat;
    color: var(--text-color);
    /* Sidebar */
    --sidebar-width: 20vw;
    /* Problem Page */
    --side-margins: 10em;
    /* Border Hover */
    --border-default: var(--border-width) solid rgba(0,0,0,0);
    --border-hover: var(--border-width) solid white;
}

* {
    font-family: var(--font-family);
    background-color: var(--background-color);
    transition: 0.2s;
}

a, a:visited, a:link {
    border-radius: var(--border-radius);
    text-decoration: none;
    background-color: var(--surface-color);
    border: var(--border-default);
}
a:hover {
    background-color: var(--background-color);
    color: var(--text-color);
    border: var(--border-hover);
}