@page
@using CodingCompetitionPlatform.Services;
@model IndexModel
@{
    ViewData["Title"] = "Home";
    Layout = "_Layout";

    // Initialize Problems
    LoadProblems.initialize();
}

<script>
    setInterval(function()
    {
        document.getElementById("problems-iframe").contentWindow.location.reload();
    }, 2000);
</script>

<div>@User.Identity.Name</div>

<div id="home-container">
    <div id="problem-container">
        <iframe src="/problems" id="problems-iframe" class="live-content"></iframe>
    </div>
</div>
