#problem-container {
    background-color: var(--surface-color);
    padding: 2em;
    border-radius: var(--border-radius);
/*    height: 100%;*/
}


/* PROBLEM INFO */
#problem-info-container {
    
}

#problem-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#problem-title {
    font-size: 2.5em;
    font-weight: 800;
}
#problem-index {
    align-self: start;
}


#problem-detail-description {
}

#problem-detail-description p {
    font-size: 1.2em;
    line-height: 1.7;
}

/* Code Output */
.code {
    background-color: black;
    padding-left: 1.5em;
    padding: 1.2em;
    border-radius: var(--border-radius);
    font-family: var(--code-font);
    white-space: pre-line;
}

#code-output {
    margin-top: 2em;
}


/* CODE SCORING RESULT SECTION */
/* Tabs */
.report-tab-option {
    background-color: inherit;
    font-size: 1em;
    font-weight: 600;
    padding: 1em;
    border: none;
    border-top: 0.2em solid white;
}
.report-tab-option:hover, .report-tab-option.active {
    background-color: var(--surface-color);
}
.report-tab-option.problem-passed {
    color: green;
}
.report-tab-option.problem-passed.active {
    color: green;
    border-top: 0.2em solid green;
}
.report-tab-option.problem-failed {
    color: red;
}
.report-tab-option.problem-failed.active {
    color: red;
    border-top: 0.2em solid red;
}

/* Displaying Output */
#results-container {
    padding-bottom: 0em;
    margin-top: 1.5em;
    margin-bottom: 2em;
}
#code-report {
    margin-top: 1em;
    padding-top: 0em;
    padding-bottom: 0em;
    background-color: var(--surface-color);
    border-radius: var(--border-radius);
}
#result-output-content {
    background-color: var(--surface-color);
}
#result-report-tab-bar {
    background-color: var(--background-color);
}
/* Content */
.result-tab-content {
    display: none;
    padding: 2em;
}
/* Status of Code */
.status-text {
    margin-bottom: 1em;
    font-size: 1.5em;
    font-weight: 500;
}
.status-text.passed {
    color: green;
}
.status-text.failed {
    color: red;
}


.actual-output-container {
/*    margin-top: 1em;*/
}
.expected-output-container, .compiler-output-container {
    margin-top: 2em;
}

.output-tag {
    margin-bottom: 0.5em;
}
.case-identifier {
    text-align: right;
    margin-top: 1em;
    color: grey;
}

.runcase-expected-output {
}
.testcase-expected-output {
}