@page "/problem"
@model CodingCompetitionPlatform.Pages.ProblemModel
@{
}

<form method="post" enctype="multipart/form-data">
    <input type="file" asp-for="uploadedFile" accept=".py" />
    <input type="submit" />
</form>

<div></div>