@page "/problems"
@model CodingCompetitionPlatform.Pages.ProblemsModel
@{
    Layout = null;
}

<div id="problems-container">
    <table>
        <tr>
            <div>
                <a class="problem-entry" href="/problem">Problem 1</a>
            </div>
        </tr>
    </table>
</div>