@page "/problems"
@model CodingCompetitionPlatform.Pages.ProblemsModel
@{
}

<div id="problems-container">
    <table>
        <tr>
            <a class="problem-entry" href="/problem">Problem 1</a>
        </tr>
    </table>
</div>